<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.d3ifcool.rememberactivities">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logoo2"
        android:label="Remember Activities"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.">
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar.">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar." />
        <activity
            android:name=".TambahKegiatanActivity"
            android:label="Tambah Kegiatan" />
        <activity
            android:name=".LihatKegiatanActivity"
            android:label="Lihat Kegiatan" />
        <activity
            android:name=".RincianKegiatanActivity"
            android:label="Rincian Kegiatan" />
        <activity android:name=".PopupActivity" />
        <activity
            android:name=".LihatPencapaianActivity"
            android:label="Lihat Pencapaian" />
        <activity
            android:name=".PencapainDetailActivity"
            android:label="@string/title_activity_pencapain_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".Alarm.AlarmRecivier"
            android:process=":remote" />
        <receiver
            android:name=".Alarm.SecondAlarmRecivier"
            android:process=":remote" />

        <activity android:name=".TentangKami"
            android:label="Tentang Kami">
            android:theme="@style/AppTheme.NoActionBar" />
        </activity>
    </application>

</manifest>